openapi: 3.0.0
info:
  title: Avenger API
  description: Avengers API - DIO
  version: 1.0.0
servers:
  - url: https://markusdel.com/avengers
    description: Avengers API - DIO
tags:
  - name: front
    description: Para visitantes de plataforma
paths:
  /v1/api/avenger:
    get:
      tags:
        - Avenger
      responses:
        "200":
          description: Get Avengers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvengerList'
    post:
      tags:
        - Avenger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvengerRequest'
      responses:
        "204":
          description: Created Avenger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvengerResponse'
        "400":
          description: Bad request
  /v1/api/avenger/{avengerId}:
    get:
      tags:
        - Avenger
      parameters:
        - name: "avengerId"
          in: "path"
          required: true
          schema:
            type: "number"
      responses:
        "200":
          description: Get Avenger by id
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/AvengerResponse'
        "404":
          description: Not found avenger

    put:
      tags:
        - Avenger
      parameters:
        - name: "avengerId"
          in: "path"
          required: true
          schema:
            type: "number"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvengerRequest'
      responses:
        "202":
          description: Update Avenger by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvengerResponse'
        "404":
          description: Not found avenger
    delete:
      tags:
        - Avenger
      parameters:
        - name: "avengerId"
          in: "path"
          required: true
          schema:
            type: "number"
      responses:
        "202":
          description: Delete Avenger by id
        "404":
          description: Not found avenger
components:
  schemas:
    AvengerList:
      type: array
      items:
        $ref: '#/components/schemas/AvengerResponse'
    AvengerResponse:
      type: object
      properties:
        id:
          type: number
          example: 1
        nick:
          type: string
          example: spider-man
        person:
          type: string
          example: Peter Parker
        description:
          type: string
          example: sobre poderes
        history:
          type: string
          example: a história
    AvengerRequest:
      type: object
      required:
        - nick
        - person
      properties:
        nick:
          type: string
          example: spider-man
        person:
          type: string
          example: Peter Parker
        description:
          type: string
          example: sobre poderes
        history:
          type: string
          example: a história